<html>
  <head>
  	<style>
  	</style>
  </head>
  <body>
    <p>

    </p>
    <form>
      <input type='text' name='word' />
      <input type='submit' value='Encrypt' />
    </form>
  </body>
</html>